body {
  background: url("1054293_download-free-happy-birthday-wishes-hd-images-the-quotes-land_2560x1600_h.jpg");
	font-size: 190%;
	background-repeat: no-repeat;
	background-size: cover;
	background-blend-mode:lighten;
}
